<template name="ApplicationLayout">
  {{> sidebar}}

  <div class="pusher">
    <div class="ui container">
      <div class="ui centered stackable grid">
        <div class="row" style="padding-top:2em;">
          <div class="six wide column">
            {{> header}}
          </div>
          <div class="six wide column right aligned" style="padding-top:0.7em;">
             {{> selector}}
           </div>
        </div>
      </div>
      <div class="ui centered stackable grid">
        <div class="twelve wide column">
          {{> yield}}
        </div>
      </div>
    </div>
  </div>
</template>
