<template name="ApplicationLayout">
  {{> sidebar}}

  <div class="pusher">
    <div class="ui fluid container">
      <div class="ui centered stackable grid">
        <div class="row" style="padding-top:2em;">
          <div class="four wide column">
            {{> header}}
          </div>
          <div class="six wide column" style="padding-top:0.7em;">
             {{> selector}}
           </div>
        </div>
      </div>
      <div class="ui centered stackable doubling grid">
        {{>yield}}
      </div>
    </div>
  </div>
</template>
