<template name="artifacts">
  <h2>Artifacts</h2>
  <div class="ui relaxed list">
    {{#each artifacts}}
      <div class="item">
        <div class="content">
          <span class="header"><a href="{{pathFor route='artifact.edit'}}"><i class="icon tag editArtifact" data-id="{{_id}}"></i></a>
            <a class="listitem selectArtifact" href="{{pathFor route='artifact.view'}}">{{name}}</a></span>
        </div>
      </div>
    {{/each}}
  </div>

  <a href="{{pathFor route='artifact.add'}}" class="ui fluid green right labeled icon button">
    <i class="plus icon"></i>
    Add
  </a>
</template>
