<template name="artifact">
  <h1><a href="{{pathFor route='artifact.edit' _projectId=projectId}}"><i class="icon edit"></i></a>{{name}}</h1>
  <div class="ui divider"></div>

  <div id="artifactDiv" class="ui fluid container">
    {{> infobox}}
    {{#each references}}
      {{{this}}}
    {{/each}}
  </div>
</template>

<template name="editArtifact">
  <div>
    {{#autoForm collection="Artifacts" doc=this id="editArtifactForm" type="update"}}
      {{> afQuickField name='name'}}
      {{> afQuickField name='tokens'}}
      {{> afQuickField name='image'}}
      <button type="submit" class="ui blue button">Update</button>
      {{> quickRemoveButton collection="Artifacts" _id=this._id class="ui red button" beforeRemove=beforeRemove}}
    {{/autoForm}}
  </div>
</template>

<template name="addArtifact">
  <div>
    {{#autoForm collection="Artifacts" id="addArtifactForm" type="insert"}}
      {{> afQuickField name='name'}}
      {{> afQuickField name='tokens'}}
      {{> afQuickField name='image'}}
      <button type="submit" class="ui green button">Insert</button>
    {{/autoForm}}
  </div>
</template>
