<template name="editGem">
  <div class="ten wide column">
  {{#autoForm collection="Gems" doc=this id="editGemForm" type="update"}}
    {{> afQuickField name='name'}}
    {{> gemHelp}}
    {{> afQuickField name='patterns'}}
    <button type="submit" class="ui blue button">Update</button>
    {{> quickRemoveButton collection="Gems" _id=this._id class="ui red button" beforeRemove=beforeRemove}}
  {{/autoForm}}
  </div>
</template>

<template name="addGem">
  <div class="ten wide column">
  {{#autoForm collection="Gems" id="addGemForm" type="insert"}}
    {{> afQuickField name='name'}}
    {{> gemHelp}}
    {{> afQuickField name='patterns'}}
    <button type="submit" class="ui green button">Insert</button>
  {{/autoForm}}
  </div>
</template>

<template name="gemHelp">
  <div class="ui message">
    <div class="header">
      Gem Pattern Format
    </div>
    <ul class="list">
      <li>Gems patterns are built upon Python regex</li>
      <li><span class="cmd_pattern">~GH_THIS_ARTIFACT~</span> matches the Artifact</li>
      <li><span class="cmd_pattern">~GH_OTHER_ARTIFACT~</span> matches any other Artifact</li>
    </ul>
  </div>
</template>

<template name="viewGem">
  <div class="ten wide column">
    <h1><a href="{{pathFor route='gem.edit' _projectId=projectId}}"><i class="icon edit"></i></a>{{name}} {{#if filterValue}}- {{filterValue}}{{/if}}</h1>

    <div class="ui stackable two column centered grid">
      {{#each artifacts}}
      <div class="ui column">
        <div class="ui segment">
          <h2>
            <a href={{pathFor 'artifact.view' _id=artifact._id _projectId=artifact.project}}>{{artifact.name}}{{#if artifact.image}}
              <img src="{{artifact.image}}" class="ui mini right floated spaced rounded image">{{/if}}
            </a>
          </h2>
          <ul>
            {{#each gems}}{{#each result}}
              <li>{{this}}</li>
            {{/each}}{{/each}}
          </ul>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</template>
