<template name="sidebar">
  <div class="ui left vertical push sidebar labeled icon menu">
    <a class="item" href="{{pathFor route='home'}}">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item" href="{{pathFor route='project.add'}}">
      <i class="sitemap icon"></i>
      Project
    </a>
    <a class="item">
      <i class="user icon"></i>
      User
    </a>
    <i class="item">
      Ghostdoc<br>
      {{appVersion}}
    </i>
  </div>
</template>

<template name="header">
    <h1><i class="sidebar icon" id="logo"></i><a class="unstyled" style="color:black;" href="{{pathFor 'home'}}">Ghostdoc</a></h1>
</template>
