<template name="sidebar">
  <div class="ui left vertical push sidebar labeled icon menu">
    <a class="item" href="{{pathFor route='home'}}">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item" href="{{pathFor route='project.view'}}">
      <i class="sitemap icon"></i>
      Project
    </a>
    <a class="item">
      <i class="user icon"></i>
      User
    </a>
    <i class="item">
      Ghostdoc<br>
      {{appVersion}}
    </i>
  </div>
</template>

<template name="header">
    <h1 id="logo"><i class="sidebar icon"></i>Ghostdoc</h1>
</template>
