<template name="sidebar">
  <div class="ui left vertical push sidebar labeled icon menu">
    <a class="item" href="{{pathFor route='home'}}">
      <i class="home icon"></i>
      Home
    </a>
    <i class="item">
      Ghostdoc<br>
      {{appVersion}}
    </i>
    <div class="item">
    {{> user}}
    </div>

  </div>
</template>

<template name="header">
    <h1 id="logo" class="ui header">
      <i class="sidebar icon"></i>
      <a class="content" style="color:black;" href="{{pathFor 'home'}}">
        Ghostdoc
      </a>
    </h1>
</template>
