<template name="home">
  <div class="sixteen wide column">
    <div class="ui stackable doubling three column grid">
      {{#each topProjects}}
      <div class="column">
        <h2><a href="{{pathFor 'project.view' _projectId=_id}}">{{name}}</a></h2>
        <div style="word-wrap:break-word;">
          {{#markdown}}{{description}}{{/markdown}}
        </div>
        <div class="ui list">
          {{#each topSources}}
          <a class="link item" href="{{pathFor 'source.view' _id=_id _projectId=project}}">
            <i class="file icon"></i>
            {{name}}
          </a>
          {{/each}}
          {{#each topArtifacts}}
          <a class="link item" href="{{pathFor 'artifact.view' _id=_id _projectId=project}}">
            <i class="tag icon"></i>
            {{name}}
          </a>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="sixteen wide column">
      <div class="ui center aligned basic segment">
        <div class="ui horizontal divider">
          Or
        </div>
        <a class="ui green labeled icon button" href="{{pathFor 'project.add'}}">
          Create New Project
          <i class="add icon"></i>
        </a>
      </div>
  </div>
</template>
