<template name="home">
  <div class="ui stackable doubling grid">
    <div class="row"></div>
    <div class="row">
      <div class="one wide column"></div>
      <div class="three wide column">
        {{> texts}}
        {{> artifacts}}
        {{> user}}
      </div>
      <div class="eight wide column">
        {{#if selectedArtifact}}
          {{> artifact}}
        {{else}}
          {{#if editText}}
            {{> editor}}
          {{else}}
            {{> viewer}}
          {{/if}}
        {{/if}}
      </div>
      <div class="three wide column">
      </div>
      <div class="one wide column"></div>
    </div>
  </div>
</template>
