<template name="infobox">
  <div class="ui right floated image">
    <div class="">
      {{#if image}}
      <img class="ui medium rounded image" src={{image}}>
      {{/if}}
      {{#if gemsItems}}
      <div class="ui segment">
      <div class="ui list">
      {{#each gemsItems}}
        <a class="item">
          <i class="right triangle icon"></i>
          <div class="content">
            <div class="header">{{name}}</div>
            <div class="description">{{result}}</div>
          </div>
        </a>
      {{/each}}
      </div>
      </div>
      {{/if}}
    </div>
  </div>
</template>
