<template name="project">

  <h1><a href="{{pathFor route='project.edit' _projectId=_id}}"><i class="icon edit"></i></a>{{name}}</h1>

  <p><i>{{description}}</i></p>

  <div class="ui stackable three column grid">
    <div class="row">
      <div class="three wide column">
        <h3>Collaborators</h3>
        <ul>
        {{#each collaborators}}
          <li>{{this}}</li>
        {{/each}}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <h3>Sources</h3>
        <div class="ui list">
          {{#each sources}}
          <a class="link item" href="{{pathFor 'doc.view' _id=_id _projectId=_projectId}}">
            <i class="file icon"></i>
            {{name}}
          </a>
          {{/each}}
        </div>
      </div>
      <div class="column">
        <h3>Artifacts</h3>
        <div class="ui list">
          {{#each artifacts}}
          <a class="link item" href="{{pathFor 'artifact.view' _id=_id _projectId=_projectId}}">
            <i class="tag icon"></i>
            {{name}}
          </a>
          {{/each}}
        </div>
      </div>

      <div class="column">
        <h3>Gems</h3>
        <div class="ui list">
          {{#each gems}}
          <a class="link item" href="{{pathFor 'gem.edit' _id=_id _projectId=_projectId}}">
            <i class="diamond icon"></i>
            {{name}}
          </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

</template>

<template name="addProject">
  <div>
    {{#autoForm collection="Projects" id="addProjectForm" type="insert"}}
      {{> afQuickField name='name'}}
      {{> afQuickField name='description' rows=5}}
      {{> afQuickField name='sources'}}
      {{> afQuickField name='artifacts'}}
      {{> afQuickField name='gems'}}
      {{> afQuickField name='collaborators'}}
      <button type="submit" class="ui green button">Insert</button>
    {{/autoForm}}
  </div>
</template>

<template name="editProject">
  <div>
    {{#autoForm collection="Projects" doc=this id="editProjectForm" type="update"}}
      {{> afQuickField name='name'}}
      {{> afQuickField name='description' rows=5}}
      {{> afQuickField name='sources'}}
      {{> afQuickField name='artifacts'}}
      {{> afQuickField name='gems'}}
      {{> afQuickField name='collaborators'}}
      <button type="submit" class="ui blue button">Update</button>
      {{> quickRemoveButton collection="Projects" _id=this._id class="ui red button"}}
    {{/autoForm}}
  </div>
</template>
