<template name="selector">
  <div class="ui large breadcrumb">
    <span class="section">{{> loginButtons}}</span>
    <i class="right chevron icon divider"></i>
    <span class="section">{{> selector_project}}</span>
    <i class="right chevron icon divider"></i>
    <span class="section">{{> selector_view}}</span>
  </div>
</template>

<template name="selector_project">
  <div class="ui dropdown" id="selector_project">
  <span class="text">Projects</span>
  <div class="menu">
    <div class="ui icon search input">
      <i class="search icon"></i>
      <input type="text" placeholder="Search projects...">
    </div>
    <div class="header">
      <i class="sitemap icon"></i>
      Projects
    </div>
    <div class="scrolling menu">
      <button class="ui green button">Add</button>
      {{#each projects}}
        <div class="item" data-value="{{_id}}">
          <i class="sitemap icon"></i>
          {{name}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
</template>

<template name="selector_view">
  <div class="ui dropdown" id="selector_view">
  <span class="text">Source/Artifact</span>
  <div class="menu">
    <div class="ui icon search input">
      <i class="search icon"></i>
      <input type="text" placeholder="Search...">
    </div>
    <div class="header">
      <i class="file icon"></i>
      Sources
    </div>
    <div class="scrolling menu">
      {{#each texts}}
        <div class="item" data-value="{{_id}}" data-type="doc">
          <i class="file icon"></i>
          {{name}}
        </div>
      {{/each}}
    </div>
    <div class="header">
      <i class="tag icon"></i>
      Artifacts
    </div>
    <div class="scrolling menu">
      {{#each artifacts}}
        <div class="item" data-value="{{_id}}" data-type="artifact">
          <i class="tag icon"></i>
          {{name}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
</template>
