<template name="source">
  <div class="three wide computer only column">
    {{> toc}}
  </div>
  <div class="ten wide column">
    <h1><a href="{{pathFor route='source.edit' _projectId=projectId}}"><i class="icon edit"></i></a>{{name}} <div class="ui {{#if isProcessed}}{{else}}active{{/if}} mini inline loader"></div></h1>
    <div class="ui divider"></div>

    <div id="sourceText" class="ui fluid basic segment" style="padding:0px;">
      {{{render}}}
    </div>
  </div>
  <div class="three wide column">
  </div>
  {{> inlineAddArtifact}}
</template>

<template name="editSource">
  <div class="ten wide column">
    {{#autoForm collection="Texts" doc=this id="editSourceForm" type="update"}}
      {{> afQuickField name='name'}}
      {{> afQuickField name='text' rows=15}}
      {{#if _id}}
        {{> quickRemoveButton collection="Texts" _id=_id class="ui red button" beforeRemove=beforeRemove}}
      {{/if}}
      <button type="submit" class="ui blue button">Save</button>
    {{/autoForm}}
  </div>
</template>

<template name="addSource">
  <div class="ten wide column">
    {{#autoForm collection="Texts" doc=this id="addSourceForm" type="insert"}}
      {{> afQuickField name='name'}}
      {{> afQuickField name='text' rows=15}}
      {{#if _id}}
        {{> quickRemoveButton collection="Texts" _id=_id class="ui red button"}}
      {{/if}}
      <button type="submit" class="ui blue button">Save</button>
    {{/autoForm}}
  </div>
</template>
