<template name="texts">
  <h2>Docs</h2>
  <div class="ui relaxed list">
  {{#each texts}}
    <div class="item">
      <div class="content">
        <span class="header">
          <a href="{{pathFor route='doc.edit'}}"><i class="link icon wrench editIcon" data-id="{{_id}}"></i></a>
          <a class="listitem textSelector" href="{{pathFor route='doc.view'}}">{{name}}</a></span>
      </div>
    </div>
  {{/each}}
  </div>
    <a href="{{pathFor route='doc.add'}}" class="ui fluid green right labeled icon button">
    <i class="plus icon"></i>
    Add
  </a>
</template>
